<!DOCTYPE html>
<html lang="en">
<body>

    <br>
    <ul>

       <li><a href="<%= urlDatabase[shortURL] %>"><%= urlDatabase[shortURL] %> </a></li>
       <li><%= shortURL %></li>

    </ul>
</body>
</html>




